@import "reset.scss";
@import "fonts.scss";

.logo-block {
  width: fit-content;
  cursor: pointer;

  * {
    display: inline-block;
  }

  .logo-text {
    max-width: 114px;
    vertical-align: top;
    margin: 7px 0 0 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.5px;
    color: $color-primary;
    &:nth-child(3n) {
      max-width: 171px;
      margin: 16px 0 0 48px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.15px;
      color: #aaaaaa;
      @media screen and (max-width: $tabletV) {
        display: none;
      }
    }
  }
}
