$mobile: 415px;
$tabletV: 768px;
$tabletH: 1024px;

$color-primary: rgba(29, 22, 30, 0.9);
$color-light-yellow: #f8dba4;
$bright-background: rgba(245, 233, 246, 0.4);

@mixin scroll-bar-mixin {
  scrollbar-color: #a44ab3 white;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #a44ab3;
    outline: none;
  }
}
